body {
  background-color: #eceff0;
  font-size: 1em;
/*  transition:all .2s linear;
  -o-transition:all .2s linear;
  -moz-transition:all .2s linear;
  -webkit-transition:all .2s linear;*/
}

/*@media screen and (max-width:1200px) {
    body {
      font-size: 0.9em;
    }
    #intro_box {
      height: 50%;
    }
}

@media screen and (max-width:1000px) {
    body {
      font-size: 0.8em;
    }
    #intro_box {
      height: 30%;
    }
}*/
a {
  text-decoration: none;
  color: #000000;
}

#container {
  margin: auto;
  min-width: 960px;
/*  min-height: 768px;*/
}

#intro_box {
  height: 100%;
  background-color: #17b1ff;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0px #A5A7A8;
}

.intro_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 2.3em;
  font-weight: 600;
  line-height: 1.3em;
  color: #ffffff;
  margin: 30px 30px 20px 30px;
  text-transform: uppercase;
}

.intro_text em {
  color: #f5dc08;
  font-style: normal;
}

.highlight {
  background-color: #f5dc08;
  color: #000000;
}

.rule {
  background-color: #000000;
  height: 1px;
  width: 90%;
  margin-top: 10px;
}

.rule2 {
  background-color: #000000;
  height: 5px;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}


#proj_intro {
  font-family: 'Open Sans';
  font-size: 1.2em;
  font-weight: 600;00;
  line-height: 1em;
  color: #f5dc08;
  text-transform: uppercase;
  margin: 60px 0px 16px 30px;
}

#proj_intro img {
  margin-left: 15px;
}

#resume_box {
  height: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0px #A5A7A8;
}

#resume_box dt {
  font-family: 'Roboto Sans';
  font-size: 0.8em;
  font-weight: 700;
  color: #000000;
  margin: 2px 20px 0px 20px;
  text-transform: uppercase;
  text-indent: 0;
}

#resume_box dd {
  font-family: 'Open Sans';
  font-size: 0.8em;
  font-weight: 400;
  color: #000000;
  margin: 0 20px 0 20px;
  line-height: 1.8em;
  text-indent: 0;
}

a[href $='.pdf'] {
  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1px;
  padding-right: 18px;
  background: transparent url(../assets/file_icon.svg) no-repeat center right;
}

#contact_box {
  height: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0px #A5A7A8;
}

#contact_box dt {
  font-family: 'Roboto Sans';
  font-size: 0.8em;
  font-weight: 700;
  color: #000000;
  margin: 2px 20px 0px 20px;
  text-transform: uppercase;
  text-indent: 0;
}

#contact_box dd {
  font-family: 'Open Sans';
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  color: #000000;
  margin: 10px 20px 0 15px;
  line-height: 2.3em;
  text-indent: 0;
}

#profile_img {
  height: 70%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.social_icons {
  float: left;
  clear: left;
}

#email_box {
  height: 100%;
  background-color: #ffffff;
  margin-top: 20px;
  box-shadow: 0 2px 2px 0px #A5A7A8;
}

#email_box.fixed {
  position: fixed;
  margin-top: 0px;
  top: 0;
  z-index: 10000;
}

#email_text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1em;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.toc {
  width: 100%;
  font-family: 'Open Sans';
  color: #000000;
  margin-top: 30px;
}

.toc dt {
  font-family: 'Open Sans';
  font-size: 0.8em;
  font-weight: 600;
  color: #17b1ff;
  text-transform: uppercase;
  text-indent: 0;
  margin-bottom: -5px;
}

.toc dd {
  font-family: 'Open Sans';
  font-size: 1.2em;
  font-weight: 400;
  color: #000000;
  text-indent: 0;
  margin: 10px 0 15px 0;
}
